<div>
  <h2>評価項目1</h2>
  <span class="evaluation-select-btn">選択する</span>
  <div>
    <p>選択されたユーザー：○○さん</p>
  </div>
</div>
<div>
  <h2>評価項目2</h2>
  <span class="evaluation-select-btn">選択する</span>
  <div>
    <p>選択されたユーザー：○○さん</p>
  </div>
</div>
<div>
  <h2>評価項目3</h2>
  <span class="evaluation-select-btn">選択する</span>
  <div>
    <p>選択されたユーザー：○○さん</p>
  </div>
</div>
<div>
  <h2>評価項目4</h2>
  <span class="evaluation-select-btn">選択する</span>
  <div>
    <p>選択されたユーザー：○○さん</p>
  </div>
</div>
<div>
  <h2>評価項目5</h2>
  <span class="evaluation-select-btn">選択する</span>
  <div>
    <p>選択されたユーザー：○○さん</p>
  </div>
</div>

<div class="evaluation-modal-wrapper" id="evaluation-modal-wrapper">
  <div class="evaluation-modal">
    <% @members.each do |member| %>
      <div class="evaluation-member-list">
        
      </div>
    <% end %>
  </div>
</div>

<script>

</script>
