<h1><%= current_user.username %>さんのトークルーム</h1>
<div class="room-list">
  <% @posts.each do |post| %>
    <div class="room-item">
      <%= link_to post.title, talk_room_path(post) %>
    </div>
  <% end %>
</div>
