<% @comments.each do |comment| %>
  <div class="post-comment clearfix">
    <!-- <div class="comment-userimage-box">
      <%= link_to user_path(comment.user) do %>
        <%= image_tag comment.user.image %>
      <% end %>
    </div> -->
    <div class="comment-box">
      <div class="comment-info">
        <span class="comment-username"><%= comment.user.username %></span>
      </div>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  </div>
<% end %>
