/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require vender/normalize
 *= require vender/remodal-default-theme
 *= require vender/remodal
 */

@font-face {
    font-family: 'rounded-mplus-1c-medium';
    src: url(font-path('rounded-mplus-1c-medium.ttf')) format('truetype');
}


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #FAFAFA;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body {
    margin: 0;
    padding: 0;
    color: #4a4a4a;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    width:100%;
    height:50px;
    background-color: #fff;
    color: #FED430;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2)
}

.header-logo {
    margin: 0;
    margin-right: auto;
}

.header-logo img {
    height: 20px;
    padding-left: 1em;

}

.header-login {
    padding: .35em .5em;
    border: thin solid #666;
    border-radius: .5em;
}

.header-login a {
    text-decoration: none;
    font-size: small;
    color: #666;
}

header ul {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
    list-style: none;
}

header li {
    margin-right: 1em;
}

header nav ul li.header-profile_image {
    margin:5px;
    overflow: hidden;
    float:right;
}

header nav ul li.header-profile_image img {
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit: cover;
}

body {
    margin-top: 50px;
}

.header-notices {
    font-size:25px;
    text-decoration: none;
    color: #666;
    float: right;
    margin-top: 7px;
    margin-right: 8px;
}


.side-menu {
  position: fixed;
  top: 0;
  right: -260px;
  bottom: 0;
  width: 260px;
  z-index: 200;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.side-menu-header {
  text-align: center;
  background-color: #fff;
  padding: 20px 0 15px;
}

.side-menu-header img {
  display: inline-block;
  margin: 0 auto;
  object-fit: cover;
  height: 52px;
  width: 52px;
  border-radius: 50%;
}

.side-menu-header span {
  display: block;
  padding-top: 5px;
}

.side-menu-list {
  /*padding: 10px 0;*/
}

.side-menu li {
  margin: 0 15px;
}

.side-menu li a {
  display: block;
  font-size: 14px;
  padding: 2px 0;
  line-height: 24px;
  color: #4A4A4A;
  text-decoration: none;
}

.side-menu li a i {
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-right: 10px;
  font-size: 24px;
}

.side-menu .new-message-box {
  padding: 10px 10px 0;
}

.side-menu h3 {
  font-size: 14px;
  color: #888;
  padding: 10px 0 5px;
}

.side-menu .new-message {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.side-menu .message-link {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.side-menu .message-icon {
  float: left;
  height: 36px;
  width: 36px;
  margin-right: 7px;
  border-radius: 50%;
  background-color: #FE6B6B;
  text-align: center;
}

.side-menu .message-icon i {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
}

.side-menu .message-main {
  float: left;
  width: 160px;
}

.side-menu .message-title {
  font-size: 12px;
  font-weight: bold;
  padding: 3px 0 5px;
}

.side-menu .message-content {
  font-size: 12px;
  color: #888;
}

.side-menu .unread-count {
  float: right;
  text-align: center;
}

.side-menu .unread-count span {
  display: inline-block;
  height: 20px;
  min-width: 20px;
  padding: 0 4px;
  border-radius: 10px;
  background-color: #FE6B6B;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  position: relative;
  top: 8px;
}

.side-menu .encourage-message {
  padding: 50px 30px 0;
}

.side-menu .encourage-message p {
  font-size: 12px;
  line-height: 1.5;
  color: #888;
}

.side-menu .bottom-list {
  position: absolute;
  bottom: 10px;
}

.close-menu-btn {
  font-size: 24px;
  color: #FED430;
  position: absolute;
  top: 10px;
  left: 10px;
}

.side-menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 150;
  background-color: rgba(255, 255, 255, 0.6);
  display: none;
}
