#sign-up {
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height:100%;
  position: fixed;
  padding-bottom: 2em;
}

.login-header-logo {
  position: fixed;
  top: 25px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header-logo img {
  height: 20px;
  padding-left: 1em;
}

.back-icon {
  padding-left: 1em;
  display: none;
}

.back-icon i {
  color: #9B9B9B;
}

.login-page-wrapper {
  margin: auto;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning-message {
  padding-top: 3em;
}

.warning-message p {
  font-size: 15px;
  color: #919EC4;
  line-height: 1.2;
}

.login-btn-wrapper {
  min-width: 270px;
}

.fb-button {
  margin-top: 2.5em;
  background-color: #3B5998;
  text-align: center;
  border-radius: 3em;
  box-shadow: 0 10px 10px #ddd;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.fb-button h4 {
  padding: 1em 1em 1em .75em;
  color: white;
}

.fb-button i {
  padding: 0 .25em 0 1em;
  color: white;
}

.email-sign-up-button {
  margin-top: 2.5em;
  background-color: #FF6B6B;
  text-align: center;
  border-radius: 3em;
  box-shadow: 0 10px 10px #ddd;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.email-sign-up-button h4 {
  padding: 1em;
  color: white;
}

.email-sign-up-button i {
  padding-left: 1em;
  color: white;
}

.description {
  margin: 3em 0;
  font-size: small;
  display: table;
  text-align: center;
  white-space: nowrap;
  color: #919EC4;
}

.description:after, .description:before {
  content: '';
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
  background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
  -webkit-background-clip: padding;
  background-clip: padding;
}
.description:after {
  border-left: 1em solid transparent;
}
.description:before {
  border-right: 1em solid transparent;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.alert-message {
  font-size: small;
  color: red;
  padding-left: 1.5em;
}

.input-wrapper {
  margin-bottom: 3em;
  border-radius: 3em;
  box-shadow: 0 10px 10px #eee;
  display: flex;
  align-items: center;
  background-color: white;
}

.url-input-warpper {
  margin-bottom: 2em;
}

.url-input-warpper:last-child {
  margin-bottom: 3em;
}

.input-wrapper input {
  border: none;
  padding: .75em 1em;
  border-radius: 3em;
  width: 100%;
}

.input-wrapper input:focus {
  outline: none;
}

.input-wrapper textarea {
  border: none;
  padding: .75em 1em;
  border-radius: 2em;
  height: 100px;
  width: 100%;
}

.input-wrapper i {
  padding: 0 .25em 0 1em;
  color: #9B9B9B;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.submit {
  margin-top: 3em;
  text-align: center;
}

.submit input {
  color: #6FC4FF;
  border: none;
  background-color: #FAFAFA;
}

.forget-password {
  margin: 1.5em 0 3em 0;
  font-size: x-small;
  color: #919EC4;
}

.sign-up-form {
  background-color: #FAFAFA;
}

.sign-up-wrapper {
  width: 85%;
  margin: auto;
  padding: 3em 0;
}

.sign-up-wrapper p {
  font-size: small;
  color: #919EC4;
  padding: 0 0 1em .5em;
  display: inline-block;
}

.profile-image-field-wrapper {
  padding-bottom: 3em;
  text-align: center;
}

.profile-image-field-wrapper p {
   margin-top: 3em;
 }

.profile-image-field {
  width: 115px;
  height: 115px;
  border-radius:75px;
  position: relative;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 10px 30px #ccc;

}


.profile-image-field span {
  width: 115px;
  line-height: 3.5em;
  font-size:35px;
  color:#ddd;
  text-align: center;
}


.profile-image-field input {
  opacity:0;
  width: 115px;
  height: 115px;
  border:1px solid;
  position: absolute;
  top:0;
  left:0;
  z-index: 3;


}

.profile-image-field img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: relative;
  top:-125px;
}

.sign-up-slick-next {
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-align: center;
  color: #6FC4FF;
  margin-bottom: 4em;
}

.role-field-wrapper {
  margin-bottom: 2em;
}

.radio-box-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
}

.radio-box {
  padding-bottom: 1em;
  display: flex;
  align-items: center;
}

.radio-box span {
  padding-top: 1px;
  color: #9B9B9B;
}

label.radio-box {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-left: 1.75em;
  display: inline-block;
}
label.radio-box:before {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid #FF6B6B;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  content: '';
  z-index: 3;
}
label.radio-box:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  left: 3px;
  top: 3px;
  background-color :#FF6B6B;
  z-index: 1;
}
label.radio-box input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  left: -23px;
  top: 1px;
  margin: 0px;
  box-shadow: 20px -1px #FAFAFA;
}
label.radio-box input[type="radio"]:checked {
  box-shadow: none;
}
label.radio-box input[type="radio"]:focus {
  opacity: 0.2;
  box-shadow: 20px -1px #FAFAFA;
}


.sign-up {
  display: inline-block;
  text-decoration: none;
  outline: none;
  text-align: center;
  border: none;
  color: #6FC4FF;
  background-color: transparent
}

.btn-wrapper {
  text-align: center;
}
