// Place all the styles related to the group_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.room-list-container {
  padding: 0 20px;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    color: #666;
    padding: 20px 0;
  }
}

.room-list {
  .room-item {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  .room-link {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .room-icon {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 7px;
    border-radius: 50%;
    background-color: #FE6B6B;
    text-align: center;

    i {
      color: #fff;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .room-main {
    float: left;
  }

  .room-title {
    font-size: 14px;
    font-weight: bold;
    padding: 3px 0 5px;
  }

  .room-message {
    font-size: 14px;
    color: #888;
  }
}


.talk-room-background {
  background-color: #fafafa;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -10;
}

.talk-room-header {
  background-color: #FE6B6B;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 50;

  h1 {
    display: block;
    float: left;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 0 10px;
    font-size: 14px;
    line-height: 1.2;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .room-back-btn {
    display: block;
    float: left;
    width: 20px;
    font-size: 26px;
    height: 26px;
    text-align: center;
    color: #fff;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .room-header-right-icon {
    display: block;
    float: right;
    width: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    span {
      display: block;
      font-size: 12px;
      line-height: 7px;
    }
  }

  .room-menu-close-btn {
    display: none;
    font-size: 20px;
  }
}

.talk-room-wrapper {
  max-width: 500px;
  margin: 0 auto 80px;
  padding-top: 50px;

  .message-list-container {
    padding: 0 20px;
  }

  .group-message {
    font-size: 14px;
    padding: 10px 0;

    &:first-child {
      padding-top: 20px;
    }

    &:last-child {
      padding-bottom: 20px;
    }

    .message-userimage-box {
      float: left;

      img {
        height: 36px;
        width: 36px;
        border-radius: 50%;
      }
    }

    .message-container {
      float: left;
      margin-left: 10px;
      width: -webkit-calc(100% - 50px);
      width: calc(100% - 50px);
      // position: relative;

      .message-info {

        .message-username {
          color: #666;
        }

        .message-time {
          color: #888;
        }
      }

      .message-content {
        margin: 4px 0 0 4px;
        padding: 10px;
        line-height: 1.3;
        word-break: break-all;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);

        &:before {
          display: block;
          content: '';
          border: 10px solid transparent;
          border-top: 2px solid transparent;
          border-right: 11px solid #fff;
          position: absolute;
          top: 5px;
          left: -20px;
        }
      }

      // .comment-detele-btn {
      //   display: inline-block;
      //   position: absolute;
      //   right: 5px;
      //   background-color: #aaa;
      //   color: #fff;
      //   padding: 4px 8px;
      //   border-radius: 8px;
      //   font-size: 14px;
      //   text-decoration: none;
      // }
    }

  }

}

.group-message-form {
  background-color: #fafafa;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .message-form-wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 10px 10px;

    .message-form-box {
      background-color: #FE6B6B;
      border-radius: 12px;
      padding: 3px 15px;

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: relative;
        top: 3px;
      }

      textarea {
        border: none;
        border-radius: 8px;
        margin: 0 2px;
        height: 24px;
        width: -webkit-calc(100% - 70px);
        width: calc(100% - 70px);
        outline: none;
        color: #fff;
        background-color: transparent;

        &:placeholder-shown {
          color: #f5f5f5; }

        /* Google Chrome, Safari, Opera 15+, Android, iOS */
        &::-webkit-input-placeholder {
            color: #f5f5f5; }

        /* Firefox 18- */
        &:-moz-placeholder {
            color: #f5f5f5; opacity: 1; }

        /* Firefox 19+ */
        &::-moz-placeholder {
            color: #f5f5f5; opacity: 1; }

        /* IE 10+ */
        &:-ms-input-placeholder {
            color: #f5f5f5; }
      }

      button {
        background-color: transparent;
        border: none;
        font-size: 24px;
        color: #fff;
        padding: 0;
        position: relative;
        bottom: 5px;
        outline: none;
      }
    }
  }
}

.room-menu-wrapper {
  position: fixed;
  overflow-y: scroll;
  top: 100px;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fafafa;
  z-index: 30;
  display: none;

  .room-menu {
    max-width: 500px;
    margin: 0 auto;

    h3 {
      padding: 10px 20px;
      font-weight: bold;
      color: #9B9B9B;
    }

    .post-status {
      padding: 10px 7% 20px;

      .status-line {
        height: 0;
        width: 70%;
        margin: 0 auto;
        border-bottom: 2px solid #9B9B9B;
        position: relative;
        top: 17px;
      }

      .status-box {
        width: 72%;
        margin: 0 auto;
        position: relative;
        text-align: center;

        .status-label {
          font-size: 12px;
          color: #9B9B9B;
          display: block;
        }

        .status-icon {
          color: #FE6B6B;
          font-size: 16px;
          line-height: 32px;
          background-color: #fafafa;
          display: inline-block;
          padding: 0 8px 2px;

          &:before {
            font-family: "FontAwesome";
            content: "\f10c";
          }
        }

        .status-planning {
          width: 60px;
          position: absolute;
          left: -25px;
        }

        .status-development {
          float: both;
          width: 60px;
          margin: 0 auto;
        }

        .status-release {
          width: 60px;
          position: absolute;
          top: 0;
          right: -25px;
        }

        .status-active {
          .status-label {
            color: #FE6B6B;
            font-weight: bold;
          }

          .status-icon {
            color: #FE6B6B;
            font-size: 32px;
            line-height: 32px;

            &:before {
              content: "\f01d";
            }
          }
        }
      }
    }

    .room-member-box {
      padding-left: 30px;

      .jobtype-box {
        padding: 5px 0;

        .jobtype-label {
          float: left;
          width: 90px;
          line-height: 36px;
          color: #888;
        }

        .jobtype-member {
          float: left;

          .jobtype-member-item {
            float: left;
            padding-left: 8px;

            img {
              height: 36px;
              width: 36px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }

}
