.success-wrap h2 {
  text-align: center;
  letter-spacing: 2px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:1.4em;
  font-size:25px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.posts {

  &-post {
    width:100%;
    max-width: 400px;
    overflow: hidden;
    border-radius: 8px;
    list-style: none;
    margin: 10px;
    // background: #FE6B6B;
    // background: -moz-linear-gradient(left, #ed1178 0%, #f0443c 100%);
    // background: -webkit-linear-gradient(left, #ed1178 0%,#f0443c 100%);
    // background: linear-gradient(to right, #ed1178 0%,#f0443c 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed1178', endColorstr='#f0443c',GradientType=1 );
    box-shadow: 0 2px 5px rgba(0,0,0,.26);

    &_highlight {
      animation: inout 2.8s;
      -webkit-animation: inout 2.8s;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.26);
      z-index:5;
      position: relative;
    }

    &-text {
      width:100%;
      height:100%;
      background-color: #FFF;
      font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

      & a {
        text-decoration: none;
        color:#FE6B6B;
      }

      &_title {
        font-size:20px;
        padding-top: 25px;
        margin-left:20px;
      }

      &_outline {
        font-size:16px;
        margin-top:20px;
        margin-left:20px;
      }

      //&:hover {
      //  box-shadow: 0 1px 5px rgba(0,0,0,.35);
      //  -webkit-transition: all 0.2s ease;
      //  -moz-transition: all 0.2s ease;
      //  -o-transition: all 0.2s ease;
      //}
      //&:before{
      //  position: absolute;
      //  top: 1.3em;
      //  left: 0;
      //  content: "";
      //  display: inline-block;
      //  width: 0;
      //  height: 3px;
      //  background: #FDD344;
      //  transition: 5s;
      //}
      //&:hover:before{
      //  width: 100%;
      //}

      &_open {
        position: fixed !important;
        top:50px !important;

      }

      &_single {
        width: 93%;
        height: 60vh;
        margin: 0 auto;
        display: none;
        position: fixed;
        left:0;
        right:0;
        bottom: 10px;
        z-index:3;
        background-color: #FFF;
        border:1px solid #EEE;
        border-radius:5px;
      }
    }
  }
}

.ranked-post {
  margin: 0 5px 10px;
  background-color: #FE6B6B;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  border-radius: 8px;

  &-header {
    color: #fff;
    padding: 0 20px;
    position: relative;

    .link-to-show {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 10;

      &:focus {
        outline: none;
      }
    }

    &-icon {
      text-align: center;
      padding: 15px;

      .ranked-post-icon {
        font-size: 50px;
      }
    }

    &-title {
      padding: 5px 0 20px;
      text-align: center;
      font-size: 22px;
      font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
      line-height: 1.2;
      color: #fff;
      font-weight: bold;
    }

    &-detail {
      font-size: 14px;
      line-height: 1.3;
      padding-bottom: 10px;
    }

    .crown-large-circle {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 5px;
      left: 10px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0,0,0,.2);

      img {
        height: 30px;
        width: 30px;
        margin: 6px auto 0;
      }

      span {
        font-size: 14px;
        font-weight: bold;
      }

      .no1-label {
        color: #ffd700;
      }

      .no2-label {
        color: #c0c0c0;
      }

      .no3-label {
        color: #cd853f;
      }
    }

    .crown-small-circle {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      top: 10px;
      left: 15px;
      text-align: center;
      box-shadow: 0 2px 4px rgba(0,0,0,.2);

      img {
        height: 25px;
        width: 25px;
        margin: 5px auto 0;
      }

      span {
        font-size: 12px;
        font-weight: bold;
        color: #1e90ff;
        position: relative;
        bottom: 2px;
      }
    }
  }

  &-footer {
    margin: 0 20px;
    padding: 8px 0;
    color: #fff;

    .post-founder-wrapper {
      float: left;
    }

    .post-founder-img {
      float: left;

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .post-founder-info {
      float: left;
      margin-left: 10px;

      .post-founder-name {
        margin: 10px 0;
        line-height: 30px;
        font-size: 14px;

        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }

    .post-footer-vote {
      float: right;

      a {
        color: #fff;
      }

      .post-vote-heart {
        font-size: 22px;
        line-height: 30px;
      }

      .post-vote-count {
        font-size: 18px;
        line-height: 30px;
        position: relative;
        bottom: 2px;
      }

      .post-share-btn {
        font-size: 22px;
        line-height: 30px;
        margin-right: 15px;
      }
    }
  }
}

.slick-dots.ranking-slide-dots li.slick-active button:before {
  opacity: 1;
  color: #FED430;
  font-size: 12px;
}

.slick-dots.new-post-slide-dots {
  opacity: 1;
  color: #FED430;
  font-size: 20px;
  position: fixed;
  top: 9px;
  left:0;
  right:0;
  width:100px;
  height:50px;
  margin: 0 auto;
  z-index: 999;
}

.slick-dots.new-post-slide-dots li {
  pointer-events: none;
}

.slick-dots.new-post-slide-dots button:before {
  font-family: "FontAwesome";
  content: "\f10c";
  opacity: 1;
  color: #FED430;
  font-size: 20px;
}
.slick-dots.new-post-slide-dots li.slick-active button:before {
  font-family: "FontAwesome";
  content: "\f111";
  opacity: 1;
  color: #FED430;
  font-size: 20px;
}


a.new-post-btn-close {
  font-size:25px;
  text-decoration: none;
  color:#FDD344;
  margin-top: 12px;
  margin-left: 17px;
  float: left;
  font-weight: 100;
}

a.posts-post-new-close:hover{
  color: #F3722C;
}

a.new-post-btn-prev {
  display: none;
  color:#FDD344;
  margin-top: 17px;
  margin-left: 17px;
  float: left;
  font-weight: bold;
}
a.new-post-slick-next {
  color:#FDD344;
  margin-top: 17px;
  margin-right: 17px;
  float: right;
  font-weight: bold;

}

div.new-post-btn-private {
  display: none;
}

div.new-post-btn-public {
  display: none;

}

#posts-post-new {
  position: fixed;
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  bottom:0;
  width: 100%;
  height:100%;
  background-color: #FFF;
  display: none;
  z-index: 1000;
  padding-top: 50px;
}

.new-posts-header {
  position: fixed;
  top:0;
  width:100%;
  height:50px;
  border-bottom: 1px solid #EEE;
  background-color: #FFF;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 901;
}

.categories {
  width:93%;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
}

.categories .category {
  width:25%;
  border-radius: 5px;
  float: left;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
}

.categories .category + .category {
  border-left: 1px solid #EEE;
}
.categories .category-border-left-hide {
  border-left:none !important;
}
.categories .category-border-bottom-hide {
  border-bottom:none !important;
  margin-bottom: 10px;
}

.categories .category .category-icon {
  padding-bottom: 5px;
  font-size: 40px;
}

.categories .category-checked {
  background-color: #FDE696;
}

.title-field input{
  width:93%;
  height:50px;
  border:1px solid #EEE;
  border-radius: 5px;
  margin:0 auto;
  position: relative;
  left:15px;
  padding:15px;
  margin-top: 15px;
  background-color: #EEE;
}

.detail-field textarea {
  width:93%;
  height:170px;
  border:1px solid #EEE;
  border-radius: 5px;
  margin:0 auto;
  position: relative;
  left:15px;
  padding:15px;
  margin-top: 15px;
  background-color: #EEE;
  line-height: 1.5em;

}
.new-post-commitment-wrap {
  padding-top: 15px;
  padding-bottom: 20px;
  background-color: #FAFAFA;
}
.new-post-commitment {
  border-radius: 5px;
  padding:15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  position: relative;
  span {
    font-size: 12px;

  }
  .commitment-item-box {
    display: table;
    table-layout: fixed;
    text-align: center;
    width: 100%;
  }

  .commitment-item {
    display: table-cell;
    vertical-align: middle;
    width:40px;

    i {
      color: #888;
      font-size: 8px;
    }
  }

  .commitment-item-active {
    i {
      font-size: 20px;
      color: #FDD344;
      position: relative;
      top: 3px;
    }
  }

}

.new-post-term {

  background-color: #FFF;
  border-radius: 5px;
  padding:15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;

  .term-line {
    border-bottom: 2px solid #ddd;
    position: relative;
    top: 12.5px;
    width: 80%;
    margin: 0 auto;
  }

  .term-box {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: table;
    table-layout: fixed;

    .term-item {
      display: table-cell;
      vertical-align: middle;
    }

    span {
      font-size: 12px;
      display: block;
      margin-top: 10px;
    }

    i {
      color: #888;
      font-size: 8px;
    }

    .term-item-active {
      span {
        color: #333;
      }

      i {
        font-size: 20px;
        color: #FDD344;
        position: relative;
        top: 3px;
      }
    }
  }
}

@-webkit-keyframes inout {
  0% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
    box-shadow: 0 1px 15px rgba(253,211,68,.85);
    position: relative;
    top:-700px;
    left:40%;

  }

  90%{

    box-shadow: 0 1px 15px rgba(253,211,68,.85);

  }
  100% {
    box-shadow: 0 1px 15px rgba(253,211,68,.0);

  }
}

.post-preview-modal h3 {

  letter-spacing: 2px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height:1.4em;
  font-size:25px;
  margin-bottom: 20px;
}

.sns-label-fb {
  width:250px;
  height:50px;
  background-color: #315A98;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  border-radius:3px;
  color:#FFF;
  letter-spacing: 2px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  margin-right: 5px;
  box-shadow: 0 1px 10px rgba(253,211,68,.3);
}

.sns-label-tw {
  width:250px;
  height:50px;
  background-color: #31ADF0;
  padding-top: 13px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 13px;
  border-radius:3px;
  color:#FFF;
  letter-spacing: 2px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 5px;
  box-shadow: 0 1px 10px rgba(253,211,68,.3);
}
.template-format-wrap {

  width: 100%;
  height:600px;
  margin:0 auto;
  box-shadow: 0 1px 5px rgba(0,0,0,.55);

  overflow: hidden;
}

.template-format-filter {
  width:100%;
  height:600px;
  margin:0 auto;
  background-color: #FFF;
  position: relative;
  z-index: 2;
  opacity: .6;
}
.template-format {
  width:100%;
  height:600px;
  border:1px solid #EEE;
  boredr-radius:5px;
  margin:0 auto;
  overflow: hidden;
  background-size: cover;
  position: relative;
  top:-601px;

}
.template-format {
  & input
  {
    width:300px;
    background: transparent;
    border:none;
    font-size:20px;
    position: relative;
    z-index: 3;
  }
  & textarea
  {
    width:300px;
    background: transparent;
    border:none;
    font-size:20px;
    position: relative;
    z-index: 3;
  }
}

#posts-post-new {
  background-color: #FFF;
}
.post-form-container h4 {
  margin-top: 15px;
  margin-left: 15px;
  font-size:16px;
  font-weight: bold;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}



.post-image-field-list-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top:15px;
}

.post-image-field-list {
  display: inline-block;
  white-space: nowrap;
  margin-left:15px;
  margin-right:15px;
  overflow: hidden;

}

.post-image-field {
  display: inline-block;
  width: 175px;
  height: 115px;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  border: 1px solid #eee;

}


.post-image-field span {
  width: 175px;
  line-height: 3.5em;
  font-size:35px;
  color:#ddd;
  text-align: center;
}


.post-image-field input {
  opacity:0;
  width: 175px;
  height: 115px;
  border:1px solid;
  position: absolute;
  top:0;
  left:0;
  z-index: 3;


}

.post-image-field img {
  width: 175px;
  height: auto;
  position: relative;
  top:-125px;
  border-radius: 5px;
}

.post-image-field + .post-image-field {
  margin-left:10px;
}



.post-color-field-list-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top:15px;
  position: fixed;
  bottom:0px;
  height:90px;
  width: 100%;
  background-color: #FFF;
  display: none;
  box-shadow:0px 0px 21px -7px rgba(0,0,0,0.76);
}

.post-color-field-list {
  display: inline-block;
  white-space: nowrap;
  width:100%;
  height:90px;

}

.post-color-field {
  display: inline-block;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  overflow: hidden;
  margin-top:18px;
  margin-left: 15px;
  margin-right:15px;
  & + .post-color-field {
    margin-left: 8px;
  }
  &-red {
    background-color: #FE6B6B;
  }
  &-yellow {
    background-color: #F8BF4A;
  }
  &-green {
    background-color: #45D480;
  }
  &-blue {
    background-color: #6FC4FF;
  }
  &-purple {
    background-color: #9674FF;
  }



}

input.jobtype-num {
  background-color: transparent;
  border:none;
}

.post-jobtype-form {
  margin-top:15px;
  margin-left:15px;
  margin-right:15px;
  background-color: #FFF;
  border-radius: 5px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .post-jobtype-field {
    padding: 20px 15px 30px 15px;

    .jobtype-name {
      margin-left: 20px;
      line-height: 30px;
    }

    .jobtype-num-box {
      display: inline-block;
      float: right;
      margin-right: 20px;

      .jobtype-num {
        display: inline-block;
        text-align: center;
        font-size: 30px;
        width: 50px;
      }

      .jobtype-minus-btn {
        color: #FDD344;
        font-size: 28px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        &.disabled {
          color: #ccc;
        }
      }

      .jobtype-plus-btn i {
        color: #FDD344;
        font-size: 28px;
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

      }
    }
  }
}

.template-list-wrapper {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  margin-top:30px;
}

.template-list {
  display: inline-block;
  white-space: nowrap;
}

.template-item {
  display: inline-block;
  height: 130px;
  width: 210px;
  background-color: #ccc;


}

.template-item-selected {
}


.template-item-selected:before {
  content: "\f058";
  font-size: 20px;
  color: #F3722C;
  font-family: FontAwesome;
  position: relative;
  z-index: 2;

}

.preview-btn-box {
  margin: 30px 0;
}

.show-preview-btn {
  display: inline-block;
  background-color: #FED430;
  height: 50px;
  width: 100%;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  cursor: pointer;
}

.submit-btn-box {
  width:350px;
  margin: 0 auto;
  margin-top: 20px;
}
.show-private-btn {
  background-color: #fff;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 11px;
  margin-right: 10px;
  float: right;
  color: #FED430;
  border:none;
}
.show-public-btn {
  background-color: #FED430;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  margin-top: 11px;
  margin-right: 10px;
  float: right;
  color: #ffffff;
  border:none;
}


.close-preview-btn {
  cursor: pointer;
}

.post-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 100;
  display: none;
}

.post-preview {
  background-color: #fff;
  color: #000;
  height: 210px;
  width: 280px;
}

.post-after-modal {
  display: none;
}

.sns-label {
  display: inline-block;
}

.post-modal-ok-btn {
  color: #fff;
  text-decoration: none;

  &:hover, &:visited, &:focus {
    color: #fff;
    background: none;
  }
}

// =====post item======

.post-show-container {
  max-width: 500px;
  margin: 0 auto;
  word-break: break-all;
}

.post-header {
  background-color: #FE6B6B;
  position: relative;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #fff;

  .post-icon {
    font-size: 30px;
  }

  .post-show-icon {
    font-size: 40px;
  }

  .post-show-back-btn {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    opacity: .9;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  h1 {
    font-size: 18px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    line-height: 1.4;
    font-weight: bold;
    text-align: center;
    padding: 10px 5% 5px;
  }

  h3 {
    padding: 10px 10px 5px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    text-align: center;
    font-size: 18px;
    color: #fff;
    line-height: 1.2;
    font-weight: bold;
  }
}

.post-content {
  background-color: #fff;
  position: relative;

  .link_to_show {
    position: absolute;
    top: -50px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;

    &:focus {
      outline: none;
    }
  }

  h2 {
    padding: 0 7%;
    font-size: 20px;
    font-weight: bold;
    color: #9B9B9B;

    i {
      color: #FE6B6B;
      font-size: 24px;
      margin-right: 6px;
    }
  }

  hr {
    width: 70%;
    border-top: 1px solid #ddd;
    border-bottom: 0;
    margin: 10px auto 30px;
  }

  .post-detail {
    font-size: 14px;
    line-height: 1.7;
    padding: 30px 7% 0;
  }

  .post-index-detail {
    font-size: 14px;
    line-height: 1.3;
    color: #666;
    padding: 20px 20px 0;
  }

  .post-images {
    text-align: center;

    .post-image-box {
      padding: 0 20px 10px;
      width: 100%;

      .post-image-item {
        padding: 5px 0;

        img {
          width: 76%;
          border-radius: 6px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
        }
      }
    }
  }

  .post-index-images {
    text-align: center;
    padding: 20px 5% 20px;

    .post-image-box {
      display: table;
      table-layout: fixed;
      width: 100%;

      .post-image-cell {
        display: table-cell;
        padding: 5px;

        .post-image-item {
          border-radius: 10px;
          height: 72px;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .post-jobtype {
    padding: 30px 7% 50px;

    .jobtype-icon-list-box {
      display: table;
      table-layout: fixed;
      text-align: center;
      width: 94%;
      margin: 0 auto 8px;

      .jobtype-icon-list {
        display: table-cell;
        vertical-align: middle;

        .jobtype-icon-box {
          width: 72px;
          margin: 0 auto;

          .jobtype-icon {
            font-size: 22px;
            line-height: 27px;
            letter-spacing: -3px;
            transform: scale(1, 1.2);
            -moz-transform: scale(1, 1.2);
            -webkit-transform: scale(1, 1.2);
            -o-transform: scale(1, 1.2);
            -ms-transform: scale(1, 1.2);
            color: #FE6B6B;
          }
        }
      }
    }

    .jobtype-label-box {
      display: table;
      table-layout: fixed;
      text-align: center;
      width: 94%;
      margin: 0 auto;

      span {
        display: table-cell;
        vertical-align: middle;
        font-size: 13px;
        color: #888;
      }
    }

    .jobtype-select {

      .jobtype-select-table {
        display: table;
        table-layout: fixed;
        width: 94%;
        margin: 0 auto;

        .jobtype-select-cell {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          padding-top: 15px;

          .post-join-btn {
            display: inline-block;
            background-color: #FE6B6B;
            width: 80px;
            padding: 10px 0;
            border-radius: 8px;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-size: 14px;
            box-shadow: 0 2px 2px rgba(0,0,0,.2);
            position: relative;

            &:before {
              display: inline-block;
              content: '';
              border: 9px solid transparent;
              border-bottom: 9px solid #FE6B6B;
              position: absolute;
              top: -17px;
              left: 31px;
            }

            &:hover, &:focus, &:visited {
              text-decoration: none;
              color: #fff;
            }
          }

          .join-btn-disabled {
            line-height: 14px;
            background-color: #aaa;
            box-shadow: none;

            &:before {
              border-bottom: 9px solid #aaa;
              position: absolute;
            }
          }

          .post-join-btn-fake {
            width: 90px;
          }
        }
      }
    }

  }

  .post-status {
    padding: 30px 7% 30px;

    .status-line {
      height: 0;
      width: 70%;
      margin: 0 auto;
      border-bottom: 2px solid #9B9B9B;
      position: relative;
      top: 17px;
    }

    .status-box {
      width: 72%;
      margin: 0 auto;
      position: relative;
      text-align: center;

      .status-label {
        font-size: 12px;
        color: #9B9B9B;
        display: block;
      }

      .status-icon {
        color: #FE6B6B;
        font-size: 16px;
        line-height: 32px;
        background-color: #fff;
        display: inline-block;
        padding: 0 8px 2px;

        &:before {
          font-family: "FontAwesome";
          content: "\f10c";
        }
      }

      .show-status-icon {
        background-color: #fff;
      }

      .status-planning {
        width: 60px;
        position: absolute;
        left: -25px;
      }

      .status-development {
        float: both;
        width: 60px;
        margin: 0 auto;
      }

      .status-release {
        width: 60px;
        position: absolute;
        top: 0;
        right: -25px;
      }

      .status-active {
        .status-label {
          color: #FE6B6B;
          font-weight: bold;
        }

        .status-icon {
          color: #FE6B6B;
          font-size: 32px;
          line-height: 32px;

          &:before {
            content: "\f01d";
          }
        }
      }
    }

  }

  .post-index-status {
    background-color: #fff;
    padding: 15px 5%;
  }

  .post-term {
    padding: 30px 7% 50px;
    background-color: #fff;

    .term-line {
      border-bottom: 2px solid #9B9B9B;
      position: relative;
      top: 9px;
      width: 77%;
      margin: 0 auto;
    }

    .term-box {
      width: 96%;
      margin: 0 auto;
      position: relative;
      text-align: center;
      display: table;
      table-layout: fixed;

      .term-item {
        display: table-cell;
        vertical-align: middle;

        .term-label {
          font-size: 10px;
          color: #888;
          display: block;
        }

        .term-icon {
          color: #9B9B9B;
          font-size: 16px;
          background-color: #fff;
          display: inline-block;
          margin-bottom: 10px;

          &:before {
            font-family: "FontAwesome";
            content: "\f10c";
          }
        }
      }

      .term-active {
        .term-label {
          color: #FE6B6B;
        }

        .term-icon {
          color: #FAFAFA;

          &:before {
            content: "\f111";
          }
        }
      }
    }
  }

  .post-commitment {
    width: 90%;
    min-width: 260px;
    max-width: 360px;
    margin: 0 auto;
    padding: 30px 5% 50px;

    span {
      font-size: 12px;
      color: #888;
    }

    .commitment-item-box {
      display: table;
      table-layout: fixed;
      text-align: center;
      width: 100%;
    }

    .commitment-item {
      display: table-cell;
      vertical-align: middle;

      .commitment-icon {
        color: #9B9B9B;
        font-size: 16px;

        &:before {
          font-family: "FontAwesome";
          content: "\f10c";
        }
      }
    }

    .commitment-item-active {
      .commitment-icon {
        font-size: 16px;
        color: #FE6B6B;

        &:before {
          content: "\f111";
        }
      }
    }
  }

  // img {
  //   width: 70%;
  //   display: block;
  //   margin: 0 auto;
  // }

}

.post-footer {
  padding: 0 40px;
  color: #888;

  .post-footer-box {
    padding: 10px 0;
    border-top: 1px solid #ddd;

    .post-founder-wrapper {
      float: left;
      margin-left: -20px;
    }

    .post-founder-img {
      float: left;

      img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .post-founder-info {
      float: left;
      margin-left: 10px;

      .post-founder-name {
        margin: 10px 0;
        line-height: 30px;

        a {
          color: #888;
          text-decoration: none;
        }
      }

      .post-founder-university {
        font-size: 13px;
        margin-bottom: 0;
      }
    }

    .post-footer-vote {
      float: right;
      margin-right: -20px;

      a {
        color: #888;
      }

      .post-vote-heart {
        font-size: 22px;
        line-height: 30px;
      }

      .heart-active {
        color: #ff6347;
      }

      .post-vote-count {
        font-size: 18px;
        line-height: 30px;
        position: relative;
        bottom: 1px;
      }

      .post-share-btn {
        font-size: 22px;
        line-height: 30px;
        margin-right: 15px;
      }
    }

  }
}

.post-index-footer {
  margin: 0 20px;
  padding: 8px 0;
  border-top: 1px solid #ccc;
  color: #FE6B6B;

  .post-founder-wrapper {
    float: left;
  }

  .post-founder-img {
    float: left;

    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .post-founder-info {
    float: left;
    margin-left: 10px;

    .post-founder-name {
      margin: 10px 0;
      line-height: 30px;
      font-size: 14px;

      a {
        text-decoration: none;
        color: #888;
      }
    }
  }

  .post-footer-vote {
    float: right;

    a {
      color: #FE6B6B;
    }

    .post-vote-heart {
      font-size: 22px;
      line-height: 30px;
    }

    // .heart-active {
    //   color: #ff6347;
    // }

    .post-vote-count {
      font-size: 18px;
      line-height: 30px;
      position: relative;
      bottom: 2px;
    }

    .post-share-btn {
      font-size: 22px;
      line-height: 30px;
      margin-right: 15px;
    }
  }
}

.comment-list-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f3f3f3;

  .comment-count {
    color: #9B9B9B;
    font-size: 14px;
    padding: 20px 20px 0;
    margin-bottom: 10px;
  }

  .comment-list-wrapper {
    padding: 0 10px;
  }

  .comment-form {
    padding: 10px 15px 20px;
    margin-top: 10px;
    position: relative;

    textarea {
      width: 100%;
      padding: 5px 40px 5px 5px;
      height: 46px;
      line-height: 1.2;
      border: none;
      border-radius: 10px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: transparent;
      border: none;
      font-size: 24px;
      padding: 0;
      position: absolute;
      top: 20px;
      right: 25px;
      outline: none;
      color: #FE6B6B;

      i {
        cursor: pointer;
      }
    }
  }
}


.post-comment {
  font-size: 14px;
  padding: 12px 0;

  &:first-child {
    padding-top: 20px;
  }

  &:last-child {
    padding-bottom: 20px;
  }

  .comment-userimage-box {
    float: left;

    img {
      height: 36px;
      width: 36px;
      border-radius: 50%;
    }
  }

  .comment-box {
    float: left;
    margin-left: 10px;
    width: calc(100% - 50px);
    // position: relative;

    .comment-content {
      display: inline-block;
      margin: 4px 20px 0 0;
      padding: 10px 15px;
      word-break: break-all;
      background-color: #fff;
      border-radius: 10px;
      position: relative;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);

      p {
        line-height: 1.3;
        padding-bottom: 6px;
      }

      span {
        font-size: 12px;
        // font-weight: bold;
      }

      // &:before {
      //   display: block;
      //   content: '';
      //   border: 10px solid transparent;
      //   border-top: 2px solid transparent;
      //   border-right: 11px solid #fff;
      //   position: absolute;
      //   top: 5px;
      //   left: -20px;
      // }
    }

    // .comment-detele-btn {
    //   display: inline-block;
    //   position: absolute;
    //   right: 5px;
    //   background-color: #aaa;
    //   color: #fff;
    //   padding: 4px 8px;
    //   border-radius: 8px;
    //   font-size: 14px;
    //   text-decoration: none;
    // }
  }

}
