// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.template-list-wrapper {
  overflow-x: scroll;
}

.template-list {
  display: inline-block;
  white-space: nowrap;
}

.template-item {
  display: inline-block;
  height: 90px;
  width: 120px;
  background-color: #ccc;
}

.template-item-selected {
}


.template-item-selected:before {
  content: "\f058";
  font-size: 16px;
  color: #F3722C;
  font-family: FontAwesome;
  position: relative;
  z-index: 2;
}
.show-preview-btn {
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px;
  cursor: pointer;
}

.close-preview-btn {
  cursor: pointer;
}

.post-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 100;
  display: none;
}

.post-preview {
  background-color: #fff;
  color: #000;
  height: 210px;
  width: 280px;
}

.post-after-modal {
  display: none;
}

.sns-label {
  display: inline-block;
}

.post-modal-ok-btn {
  color: #fff;
  text-decoration: none;

  &:hover, &:visited, &:focus {
    color: #fff;
    background: none;
  }
}
