@media screen and (max-width: 414px) {

  .posts {
    &-post {
      width:100%;
      max-width: 390px;
      border:1px solid #EEE;
      border-radius:5px;
      list-style: none;
      margin: 9px;
    }
  }

}

@media screen and (max-width: 375px) {

  .posts {
    &-post {
      width:100%;
      max-width: 355px;
      border:1px solid #EEE;
      border-radius:5px;
      list-style: none;
      margin: 8px;
    }
  }

}


@media screen and (max-width: 320px) {

.posts {
  &-post {
       width:100%;
       max-width: 304px;
       border:1px solid #EEE;
       border-radius:5px;
       list-style: none;
       margin: 7px;
  }
}

}
