
section h2 {
  color:#354B60;
  text-align: left;
  letter-spacing: 2px;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top:20px;
  margin-left: 20px;
  padding-bottom:12px;
}

section.top-top5s {
  height:200px;
  background-color: #F5F6FA;
}
