// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
  .profile-header {
    background-color: #FE6B6B;
    color: #fff;
    height: 72px;
    position: relative;
    text-align: center;

    span {
      position: absolute;
      font-size: 20px;
      top: 26px;
      left: 20px;
    }

    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      top: 30px;
    }

    a {
      display: inline-block;
      padding: 8px 6px;
      font-size: 11px;
      color: #fff;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 8px;
      position: absolute;
      top: 22px;
      right: 10px;
    }
  }

  .profile-content {
    padding-bottom: 30px;

    .profile-basic {
      padding-top: 30px;
      text-align: center;

      .profile-username {
        display: block;
        font-size: 16px;
      }

      .profile-university {
        font-size: 14px;
        color: #9B9B9B;
        padding: 20px 0 10px;

        span {
          display: block;
        }
      }
    }

    .profile-introduction {
      padding: 20px;
      font-size: 14px;
      line-height: 1.5;
    }

    .profile-link {
      text-align: center;

      ul {
        width: 280px;
        margin: 0 auto;
        text-align: left;
      }

      li {
        padding: 10px 0;

        .link-label {
          display: inline-block;
          font-weight: bold;
          color: #666;
          margin-right: 5px;
          width: 70px;
          text-align: center;
        }

        .link-url a {
          font-size: 14px;
          letter-spacing: 1px;
          color: #6FC4FF;

        }
      }

    }

    .profile-posts {
      padding-top: 20px;

      .profile-post-type {
        padding: 15px 10px;

        h3 {
          color: #666;
          font-size: 14px;
          font-weight: bold;
          padding: 0 0 2px 5px;
        }

        .profile-post-item {
          box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
          border-radius: 6px;
          margin: 10px 0;

          .profile-post-iconbox {
            float: left;
            width: 46px;
            background-color: #FE6B6B;
            color: #fff;
            height: 60px;
            font-size: 30px;

            border-radius: 6px 0 0 6px;
            text-align: center;

            i {
              line-height: 60px;
            }

          }

          .profile-post-title {
            float: left;
            width: -webkit-calc(100% - 46px);
            width: calc(100% - 46px);
            height: 60px;
            padding: 0 10px;

            span {
              display: block;
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
        }
      }
    }
  }

}
