// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-container {
  .profile-header {
    background-color: #FE6B6B;
    color: #fff;
    position: relative;
    text-align: center;

    span {
      position: absolute;
      top: 30px;
      left: 20px;
    }

    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
      object-fit: cover;
      position: relative;
      top: 20px;
    }
  }

  .profile-content {
    .profile-basic {
      padding-top: 30px;
      text-align: center;

      .profile-username {
        display: block;
        font-size: 16px;
      }

      .profile-university {
        font-size: 14px;
        color: #9B9B9B;
        padding: 20px 0 10px;

        span {
          display: block;
        }
      }
    }

    .profile-introduction {
      padding: 20px;
      font-size: 14px;
      line-height: 1.5;
    }

    .profile-link {
      text-align: center;

      li {
        padding: 10px 0;

        .link-label {
          font-weight: bold;
          margin-right: 10px;
        }

        .link-url a {
          font-size: 14px;
          letter-spacing: 1px;
          color: #6FC4FF;

        }
      }

    }

    .profile-posts {
      padding-top: 20px;

      .profile-post-type {
        padding: 15px 10px;

        .profile-post-item {
          box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
          border-radius: 6px;
          margin: 10px 0;

          .profile-post-iconbox {
            display: inline-block;
            width: 16%;
            background-color: #FE6B6B;
            color: #fff;
            height: 50px;
            font-size: 30px;
            vertical-align: middle;
            border-radius: 6px 0 0 6px;
            text-align: center;

            i {
              line-height: 50px;
            }

          }

          .profile-post-title {
            display: inline-block;
            width: 82%;
            height: 50px;
          }
        }
      }
    }
  }

}
