<header>
  <div class="back-icon">
    <i class="fa fa-angle-left fa-2x" aria-hidden="true"></i>
  </div>
  <div class="login-header-logo">
    <%= link_to root_path do %><%= image_tag 'logo.png' %><% end %>
  </div>
</header>
